body{
    margin: 0;
    padding: 0;
    font-family: loto,sans-serif;
    color: #505962;
    justify-content: center;
    align-items: center;
   
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background:no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size:cover;
}

.carousel-caption{
    top: 300px;
    width: 50%;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 25px;
    font-family:serif;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
}
.carousel-caption a{
    margin-top: 20px;
}
.sua{
    font-style: italic;

}
.navbar{
    text-transform: uppercase;
    font-weight: 700px;
    font-size: .9rem;
    letter-spacing: .1rem;
    background:rgba(0, 0,0,0.6) !important;
}
.navbar-nav li{
    padding-top: .7rem;
}
.navbar-dark .collapse .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}
.navbar .main-header{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    background: linear-gradient(315deg, #ff0000,#ffc107);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: inline;

}

.navbar-dark .collapse .navbar-nav .nav-link.active,
.navbar-dark .collapse .navbar-nav .nav-link:hover{
    background: linear-gradient(315deg, #ff0000,#ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.w-100{
    height: 100vh;
}
.myHeader{
    text-align: center;
    text-transform: uppercase;
    text-overflow: hide;
    text-shadow: 4px;
    margin-top: 20px;
}
.para{
    
    font-size: 15px;
    text-align: center;

}
.line{
    background-color: deepskyblue;
    margin: 3px 45% 5px 45%;
    height: 2px;
    transition: .9s;

}
.line-area:hover .line{
    margin: 3px 20% 5px 20%;
}
.line-area{
    height: 15px;
     margin: 3px 30% 5px 30%;
}
.top h2{
    color: deepskyblue;
    
}
.top{
    padding-bottom: 50px;
    padding-top: 15px;
    margin-bottom: 55px;
    margin-top: 10%;
}
#work{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .row .col-md-4 h3{
    top: 10px;
    font-family: serif;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 5px 5px 5px;
    font-weight: 50;
    font-size:25px; 
    color: #1572b1;
    

}
.container .row .col-md-4 p{
    padding: 5px;
    font-size: 1.1rem;
}

.container .row .col-md-4 svg.svg-inline--fa{
   color: deepskyblue;
    border-radius: 50%;
    border:2px solid white;
    padding:12px 12px 12px 12px;
     margin-bottom: 10px;
     margin-bottom: 30px;
    background:deepskyblue;
    color: white;
}

.container .row .col-md-4{
    background: none;
    font-family: serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    padding: 15px;
    border: 5px;
   

}

.container .row .col-md-4:hover{
    color: white;
}
.container .row .col-md-4::before{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 0%;
background: deepskyblue;
 z-index: -1;
 transition: 0.8s;
 border-radius: 50% 50% 50% 50%;
}
.container .row .col-md-4:hover::before{
    height: 87%;
}

.msg{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
body > div.msg > div{
width: 500px;
height: 300px;
background-color: white;
border-radius: 10px;
text-align: center;
padding: 15px;
position: relative;
}
body > div.msg > div > form > input[type=message]{
    display: block;
    margin: 12px auto;
    width: 50%;
}
body > div.msg > div > div{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 47px;
    transform: rotate(45deg);
    cursor: pointer;
    
}
.icon{
    position: absolute;
    top:700px;
    width: 8%;
    right: 12px;
    cursor: pointer;

}
body > div.icon > svg{

    cursor: pointer;
}

#community{
position: relative;
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 font-family: 'poppins',sans-serif; 
 background: #060c21; 
 z-index: 0;
}
.container2{
    position: relative;
    width:90% ;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(260px,1fr)) ;
    grid-template-rows: auto;
    grid-gap: 0 32px;
}
.container2 .box{
    position: relative;
    height: 400px;
    background:#060c21 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px ;

}
.container2 .box::before {
    content: "";
    position: absolute;
    display: inline;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index:-1;
}

.container2 .one::before{
    background: linear-gradient(315deg, #ff0057,#e64a19);
}

.container2 .two::before{
 background: linear-gradient(315deg, #89ff00,#00bcd4);
}
.container2 .three::before{
    background: linear-gradient(315deg, #ff0000,#ffc107);
}
.container2 .four::before{
    background: linear-gradient(315deg, #e91e63,#5d02ff);
}
.box .content2{
    position: relative;
    padding: 20px;
}
.sub-header{
    position: absolute;
    top: 6.5rem;
    color: #fff;
}
.sub-header h1{
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(to left,rgb(112,101,214),rgb(210,106,213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}
.box .content2 h2{
    position: absolute;
    top: -60;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,0.05);
    transition: 0.7s;
}
.box:hover .content2 h2{
    top: -100px;
}
.box .content2 h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.box .content2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.box .content2 a{
    position: relative;
    margin: 25px 0 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;


}
.box:hover .content2 a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;   
}
.box .content2 a:hover{
    color: #000;
    background: #fff;
}
.link2{
    position: absolute;
    bottom: 6rem;
   
  
}
.link2 a{
position: relative;
border: 1px solid #ffc107;
border-radius: 5px;
padding: 10px 20px;
font-size: 25px;
text-decoration: none;
color:rgb(210,106,213);
text-transform: uppercase;
font-style: italic;
}
.link2::before{
 content: "";
position: absolute;
top: 10px;
bottom: -4px;
right: -5px;
left: 1px;
z-index: -1;
width: 10%;
 transition: 1s;
background: linear-gradient(315deg, #ff0000,#ffc107);
border-radius:0 90% 0 0;
}


.link2 a:hover{
    text-decoration: none;
    color:#fff;
}
.link2:hover::before{
    border-radius: 0;
    top: -5px;
    width: 100%;
}
.myFooter{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.myFooter p{
    text-align: center;
    justify-content: center;
    right: 40px;

}





    /* media queries*/


 

@media only screen and (max-width: 1088px){
    .carousel-caption p{
        width: 80%;
        margin: auto;
        font-size: 20px;
        font-family: monospace;
        font-style: italic;
    }
    .container2 .box{
        height: 300px;
    }
    .container2{
        grid-template-columns:repeat(auto-fill, minmax(150px,1fr)) ;
        grid-template-rows: auto;
        grid-gap: 0 32px;
    }
    .box .content2 a{
        margin: 12px 0 0 8px;
        padding: 4px 10px;
        font-size: 16px;
 
    }
    .box .content2 h2{
        display: none;
    }
    .box:hover .content2 h2{
        top: -150x;
    }
    .box .content2 h3{
        margin: 0 0 3px;
        padding: 0;
        font-size: 20px;
        font-weight: 300;
        color: #fff;
    }
    .box .content2 p{
        font-size: 14px;
    }
    .container .row .col-md-4 p{
        padding: 5px;
        font-size: 15px;
    }
    .container .row .col-md-4 h3{
        font-size: 16px;
        top: 0;
    }
    .link2 a{
        padding: 8px 16px;
        font-size: 18px;
    }

    .sub-header{
        position: absolute;
        top: 3.5rem;
        color: #fff;
    }
    
}
@media only screen and (max-width: 869px){
    .carousel-caption p{
        width: 90%;
        margin: auto;
        font-size: 20px;
        font-family: monospace;
        font-style: italic;
    }
}
@media only screen and (max-width: 752px){
    
    .carousel-caption p{
        width: 90%;
        font-size: 18px;
        font-family: monospace;
        font-style: italic;
        padding-bottom: 15px;
    }
    .carousel-caption h5{
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-top: 35px;
        font-family:serif;
        bottom: 20px;
        padding-bottom: 20px;
    }
    .carousel-caption{
        top: 25%;
    }

}

@media only screen and (max-width: 469px){

    .carousel-caption p{
        width: 100%;
        font-size: 12px;
        font-family: monospace;
        font-style: initial;
        padding-bottom: 15px;
    }
    .carousel-caption h5{
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700px;
        margin-top: 35px;
        font-family:serif;
        bottom: 20px;
        padding-bottom: 20px;
    }
    .link2{
        position: absolute;
        bottom: 8px;
      
    }
    .link2 a{
        background: linear-gradient(315deg, #ff0000,#ffc107);
        color: #fff;
    }
    .box .content2 a{
        margin: 10px 0 0 8px;
        padding: 4px 7px;
        font-size: 16px;
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        background: white;
        color: #000;
 
    }

}
@media only screen and (max-width: 469px){
    body > div.msg > div{
        width: 300px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        padding: 15px;
        position: relative;
        }
    .icon{
        position: absolute;
        top:550px;
        width: 8%;
        right: 12px;
        cursor: pointer;
    }
    .carousel-caption p{
        width: 100%;
        font-size: 12px;
        font-family: monospace;
        font-style: initial;
        padding-bottom: 15px;
    }
    .carousel-caption h5{
        font-size:20px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 700px;
        margin-top: 35px;
        font-family:serif;
        bottom: 20px;
        padding-bottom: 15px;
    }
    .navbar .main-header{
        font-size: 20px;
        font-weight: 600;
      
    
    }
    .link2{
        position: absolute;
        bottom:4rem;
      
    }
    container2{
        grid-template-columns:repeat(auto-fill, minmax(100px,1fr)) ;
        grid-template-rows: auto;
        grid-gap: 0 32px;
        width:100% ;
    }
    .container2 .box{
        height:200px;
    }
    #community{
         min-height: 1200px;
    }
    .sub-header{
        position: absolute;
        top: 1.5rem;
        color: #fff;
        transform: none;
        transition: none;
    }
    .sub-header{
        transform: none;
        transition: none;
    }
    .container2 .box{
        margin: 20px 5px;
    }

}
    @media only screen and (max-width: 341px){
        .carousel-caption p{
            width: 100%;
            font-size: 12px;
            font-family: monospace;
            font-style: initial;
            padding-bottom: 15px;
        }
        .carousel-caption h5{
            font-size:18px;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-weight: 700px;
            margin-top: 35px;
            font-family:serif;
            bottom: 20px;
            padding-bottom: 15px;
        }
       
    .btn{
        height: 35px;
        width: 100px;
        font-size: 10px;
        padding-right: 1px;
        padding-bottom: 1px;
        text-align: center;
    }

}
@media only screen and (max-height:760px){
.carousel-caption{
    top: 32%;
}
}
@media only screen and (max-height:484px){
    .carousel-caption{
        top: 28%;
    }
}   
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic{
	margin-bottom: 0;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in;
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-inner:hover{
	text-decoration: none;
        background: rgba(0, 0, 0, 0.3);
}	

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}